<h1>About Us</h1>
<p>
  <a href="http://gktruth.in/">Gaurav Khandel</a>
  is a final year student of LIET who is working on Ruby on Rails and other upcomming language.

  with <a href="http://kushvarma.in/">Kush Varma</a> Who is a developer too and Linux saavy.
</p>
