<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", 'http://news.kushlabs.org/' %></li>
      <li><%= link_to "Rails Help", 'http://kushlabs.org/rails' %></li>
    </ul>
  </nav>
</footer>